.category {
  &__list {
    @include flex(stretch, space-between, wrap);
  }
  &__item {
    width: calc(25% - 22.5px);
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 35px -5px $yellow;
    @include flex(stretch, flex-start, nowrap, column);
    &:first-child {
      box-shadow: 0 20px 40px -5px rgba(255, 151, 194, 0.25);
    }
    &:nth-child(2) {
      box-shadow: 0 20px 40px -5px rgba(255, 112, 109, 0.25);
    }
    &:nth-child(3) {
      box-shadow: 0 20px 40px -5px rgba(133, 152, 255, 0.25);
    }
    &:last-child {
      box-shadow: 0 20px 40px -5px rgba(255, 200, 122, 0.25);
    }

    transition: all 0.2s;
    &:hover {
      transform: translateY(-1rem);
    }

    cursor: pointer;
  }
  &__image {
    border-radius: 30px;
    @include size(100%, 23rem);
    object-fit: cover;
    margin-bottom: 4rem;
  }
  &__name {
    margin-bottom: 3.5rem;
    font-size: 2.5rem;
    color: $dark-blue;
    font-weight: 500;
  }
  &__detail {
    color: $light-gray;
    font-size: 1.5rem;
    margin-top: auto;
    i {
      margin-left: 1.5rem;
    }
  }
}
