.connect {
  text-align: center;
  color: $dark-blue;
  margin-bottom: 18rem;
  &__title {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 3.5rem;
  }
  &__notice {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 6rem;
    span {
      color: $yellow;
    }
  }
  &__list {
    @include flex(stretch, space-between);
  }
  &__item {
    width: calc(25% - 22.5px);
    display: inline-block;
    overflow: hidden;
    border-radius: 30px;
    & img {
      max-width: 100%;
      transform: scale(1);
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
